{% extends 'base.html' %} {% load static %} {% block contect %}

<section
  class="jumbotron text-center pt-3 pb-3 mb-4"
  style="background-color: #ededed"
>
  <h3 class="jumbotron-heading">You've been little bit sloppy with the Inventory?</h3>
  <p class="lead text-muted">Don't worry about it! Bar_Spy has your back.</p>
</section>
<div class="container">
    <form method="POST" action="{% url 'add_checkin' %}">
        {% csrf_token %}
        <input list="hosting-plan" type="text" class="form-select" aria-label="Default select example"
            placeholder="Find the Drink" name='checkinalcohol' /><datalist id="hosting-plan">
            {% for drink in all_drinks %}
            <option value="{{ drink.name }} | Stock: {{ drink.inStock }} #{{ drink.pk }}">{{ drink.name }}</option>
            {% endfor %}
        </datalist>
        </select>
        <div class="input-group mb-3 mt-3">
            <span class="input-group-text">New Quantity</span>
            <input name="newqty" type="number" aria-label="Last name" class="form-control">
          </div>
          <div class="d-grid gap-2 mb-4">
            <button class="btn btn-danger redbtn" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-cloud-upload" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z"/>
              <path fill-rule="evenodd" d="M7.646 4.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V14.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3z"/>
            </svg> Update</button>
          </div>
        <div class="alert alert-danger" role="alert" style="margin-top: -13px;"">
            <ul>
                <li>This page shows you the current quantity and gives you chance to change it</li>
                <li>CheckIn keeps the record to determine the sloppiness</li>
            </ul>
        </div>
    </form>
</div>
<div class="container mt-4">
  <h3>Most Recent Check Ins</h3>
  <ul class="list-group">
  {% for checkin in all_checkin %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      {{ checkin.drink.name }}
      <span class="badge bg-secondary rounded-pill">Old Qty: {{ checkin.inStockOld }} | New Qty: {{ checkin.inStockNew }}</span>
    </li>
  {% endfor %}
</ul>
</div>
<div class="container mb-5 mt-4">
  <h3>Check Ins Dates</h3>
  <table class="table table-dark mb-5">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
  {% for date in checkinDates %}
  <tr>
    <th scope="row">{{ date.pk }}</th>
    <td>{{ date.date }}</td>
    <td><a class="btn btn-danger" href="{% url 'checkinDetails' date.pk %}"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
      <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
    </svg> Details</a></td>
  </tr>
  {% endfor %}
</tbody>
</table>
</div>
<div class="container mt-5 mb-5">
  <p>&nbsp;&nbsp;</p>
</div>

{% endblock %}
