{% extends 'base.html' %}
{% load static %}
{% block contect %}
<section class="jumbotron text-center pt-3 pb-3 mb-4" style="background-color: #ededed;">
    <h3 class="jumbotron-heading">Welcome to your Inventory World!</h3>
    <p class="lead text-muted">You can see what you have and what you need</p>
</section>
<div class="container">
    <div class="container">
        <div class="mb-4">
            <div class="card">
                <div class="card-body">
                    <h4>Order These Drinks ASAP!</h4>
                    <ul>
                        {% for category in all_categories %}
                        {% for drink in all_drinks %}
                        {% if forloop.first %}
                                <h5>{{ category.name }}</h5>
                                {% endif %}
                                {% if category.name == drink.category.name %}
                                    {% if drink.inStock <= drink.emergencyNumber and drink.emergencyNotification %}
                                        <p>{{ drink.name }} <span class="badge bg-danger">{{ drink.inStock }}</span></p>
                                    {% endif %}
                                {% endif %}
                                {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="alert alert-secondary" role="alert" style="margin-top: -13px;"">
                <ul>
                    <li>
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-toggle-off" viewBox="0 0 16 16">
                                <path d="M11 4a4 4 0 0 1 0 8H8a4.992 4.992 0 0 0 2-4 4.992 4.992 0 0 0-2-4h3zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5z"/>
                              </svg>
                              <span>This is an indicater to see if the emergency notification is turned on</span>
                        </span>
                    </li>
                    <li>
                        <span>By providing a positive number in the stocking, the notifications are turned on automatically</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row mb-5">
                {% for category in all_categories %}
                <div class="col-md-4">
                    <hr>
                    <h2>{{ category.name }}</h2>
                    {% for drink in all_drinks %}
                        {% if category.name == drink.category.name %}
                        <p>{{ drink.name }}
                            {% if drink.inStock <= drink.emergencyNumber %}
                                <span class="badge bg-danger">{{ drink.inStock }}</span>
                            {% else %}
                                <span class="badge bg-success">{{ drink.inStock }}</span>
                            {% endif %}
                            {% if drink.emergencyNotification == False %}
                            <span>
                                <a href="{% url 'toggleEmergency' drink.pk %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-toggle-off" viewBox="0 0 16 16">
                                    <path d="M11 4a4 4 0 0 1 0 8H8a4.992 4.992 0 0 0 2-4 4.992 4.992 0 0 0-2-4h3zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5z"/>
                                  </svg>
                                </a>
                            </span>
                            {% else %}
                            <span>
                                <a href="{% url 'toggleEmergency' drink.pk %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-toggle-on" viewBox="0 0 16 16">
                                    <path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10H5zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"/>
                                  </svg>
                                </a>
                            </span>
                            {% endif %}
                        </p>
                        {% endif %}
                    {% endfor %}
                </div>
                {% endfor %}
        </div>
    </div>
    <div class="container mt-5 mb-5">
        <p>&nbsp;&nbsp;</p>
      </div>

    {% endblock %}